<div class="container" *ngIf="!isEditing">
  <h2>Trip: {{ trip.tripName }}</h2>
  <p>This trip to {{ trip.destination }} is scheduled for {{ trip.startDate }} to {{ trip.endDate }}.</p>

  <button class="btn" (click)="toggleEditing()">Update Trip</button>
  <button class="btn" (click)="deleteTrip()">Delete Trip</button>
</div>

<div class="container" *ngIf="isEditing">
  <h2>Trip Details</h2>

  <div class="alert alert-warning" *ngIf="tripForm.dirty && tripForm.invalid">
    One or more values you've entered are invalid. Please try again.
  </div>

  <form (ngSubmit)="!tripForm.invalid && saveTrip()" #tripForm="ngForm">
    <fieldset class="form-group">
      <label>Trip Name</label>
      <input class="form-control" type="text" name="tripName"
        [(ngModel)]="trip.tripName" required>
    </fieldset>

    <fieldset class="form-group">
      <label>Start Date</label>
      <input class="form-control" type="date" name="startDate"
        [ngModel]="trip.startDate | date:'yyyy-MM-dd'"
        (ngModelChange)="trip.startDate = $event" required>
    </fieldset>

    <fieldset class="form-group">
      <label>End Date</label>
      <input class="form-control" type="date" name="endDate"
        [ngModel]="trip.endDate | date:'yyyy-MM-dd'"
        (ngModelChange)="trip.endDate = $event" required>
    </fieldset>

    <fieldset class="form-group">
      <label>Starting Place</label>
      <input class="form-control" type="text" name="startingPlace"
        [(ngModel)]="trip.startingPlace" required>
    </fieldset>

    <fieldset class="form-group">
      <label>Destination</label>
      <input class="form-control" type="text" name="destination"
        [(ngModel)]="trip.destination" required>
    </fieldset>

    <button class="btn btn-success" type="submit">Save</button>
    <button class="btn btn-danger" (click)="backToTripList()">Cancel</button>
  </form>
</div>